<li class="flex justify-start items-center mb-16">
  <img src="<%= relative_url 'images/icon-document.svg' %>" alt="document icon" class="hidden md:block md:w-20 md:h-20 mr-6" />
  <div>
    <a class="hover:underline underline-offset-1"
      href="<%= article.url %>" target="_blank">
      <h3 class="mb-1.5 text-xl md:text-2xl font-heading"><%= article.title %></h3>
    </a>
    <div class="flex flex-col">
      <span>
        <span class="font-semibold">Authors: </span>
        <% article.authors.each do |author| %>
          <span class="<%= 'font-semibold' if author == 'Hanniball, K. B.' %>">
            <%= author %>
          </span>
          <%= ', ' unless author == article.authors.last %>
        <% end %>
      </span>
      <span><span class='font-semibold'>Publication:</span> <%= article.publication %></span>
      <span><span class='font-semibold'>Year:</span> <%= article.year %></span>
      <span><span class='font-semibold'>DOI:</span> <%= article.doi %></span>
    </div>
  </div>
</li>
