<li id="<%= service.slug %>"
  class="mb-36">
  <h2 class="mb-8 text-2xl font-heading text-center"><%= service.title %></h2>
  <div style="background-image:url(<%= relative_url service.img.src %>"
    aria-label="<%= service.img.alt %>"
    class="<%= [
      "bg-cover bg-center bg-no-repeat",
      "block mx-auto md:inline-block clear-both shrink-0 w-60 h-60 lg:w-72 lg:h-72 mt-4 mb-8",
      i.odd? ? "md:rounded-r-none md:rounded-l-full" :
      "md:rounded-l-none md:rounded-r-full",
      "rounded-full lg:rounded-sm",
      i.odd? ? "md:float-right md:ml-8" : "md:float-left md:mr-8"
  ].join(' ') %>"></div>
  <div class="md-style">
    <%= markdownify service.body %>
  </div>
</li>
