<li>
  <div class="flex gap-4 items-center">
    <div class="<%= [
          "",
          "bg-cover bg-center bg-no-repeat",
          "shrink-0 w-32 h-32",
          "rounded-md",
      ].join(' ') %>"
      style="background-image:url(<%= relative_url service.img.src %>"
      aria-label="<%= service.img.alt %>">
    </div>
    <a href="<%= relative_url "/services##{service.slug}" %>">
      <h3 class="text-xl font-heading hover:underline"><%= service.title %></h3>
    </a>
  </div>
</li>